*{
  outline: 1px solid green;
}
.container-fluid{
  padding-right: 0 !important;
  padding-left: 0 !important;
  background-color: #f4f4f4;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5);;
}
.no-margin{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.no-padding{
  padding-left: 0  !important;
  padding-right: 0 !important;
}
.header {
    background: url(../images/header.jpg);
    background-color: #f4f4f4;
    height: 650px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.botonestopmenu{
  margin-top: 40px;
}
.botonestopmenu a{
  margin:10px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  float: right;
}
.mensaje{
  margin-top: 100px;
}
.mensaje h1{
  font-size: 50px;
  color: #fff;
}
.mensaje h2{
  font-size: 40px;
  color: #fff;
  margin-bottom: 50px;
}
.mensaje a{
  padding: 11px 30px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.container a{
  text-decoration: none;
}
/*SECCION EL RETO*/
.servicios-lista li{
  padding-top: 30px;
  padding-bottom: 30px;
}
.servicios-lista li a{
  text-decoration: none;
}
.servicios-lista a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 218px;
    border-bottom: 1px solid #acaaaa;
}
/*FIN SECCION EL RETO*/
/*SECCION QUE HACEMOS*/
.noticias {
  background-color:#f4f4f4;
}
.noticias h2, .idnoticia h2 {
  font-family:'Merriweather',serif;
  font-size:25px;
  color:#000;
}
.idnoticia h2 {
  padding-left: 16px;
  padding-bottom: 20px;
  font-weight:bold;
  }
.noticias h4, .idnoticia h4 {
  font-size:18px;
  color:#000;
}
.idnoticia h4 {
margin-top: 30px;
padding-left: 16px;
font-weight: bold;
  }
.noticias p, .idnoticia p {
  margin-top:17px;
  color: #000;
  font-size: 16px;
  text-align: justify;
}
.idnoticia p{
  padding-left: 16px;
  padding-bottom: 26px
}
.noticias a{
  cursor: pointer;
  text-decoration: none;
}
.slick-initialized .slick-slide {
    outline: none;
}
.modal-content {
    border-radius: 0px;
}
.modal-backdrop {
    opacity: 0.7 !important;
}
.modal {
  text-align: center;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
button.close {
    border: solid 2px #4a4a4a;
    opacity: 1 !important;
    font-size: 40px;
    width: 40px;
    height: 40px;
    font-family: -webkit-body;
    font-weight: 100;
    outline: none;
    margin: 31px 36px 34px 0;
}
#registrar button.close {
    width: 30px;
    height: 30px;
    border: solid 2px #005793;
    color: #005793;
    opacity: 1 !important;
    font-size: 29px;
    font-weight: bold;
    margin: 0px !important;
}
#ingresar button.close{
  width: 30px;
    height: 30px;
    border: solid 2px #005793;
    color: #005793;
    opacity: 1 !important;
    font-size: 29px;
    font-weight: bold;
    margin: 0px !important;
}
/*slider*/
.slider {
  margin:84px auto;
}
.slick-slide {
  margin:2px 5px;
  padding: 18px 15px;
}
.slick-slide:hover {
    background: #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5) !important;
}
.slick-slide img {
  width:100%;
}
.slick-next::before {
  background:url('../images/chevron-right.png') no-repeat;
  content:"" !important;
  display:block;
  height:26px;
  width:17px;
}
.slick-prev::before {
  background:url('../images/chevron-left.png') no-repeat;
  content:"" !important;
  display:block;
  height:26px;
  width:17px;
}
.slick-prev,.slick-next {
  width:17px;
  height: 26px;
}
/*FIN SECCION QUE HACEMOS*/
